<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net472" />
  <package id="PDFtoImage" version="1.2.1" targetFramework="net472" />
  <package id="Spire.PDF" version="8.1.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.3" targetFramework="net472" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
</packages>